@using Domain.Entites
@*@using Application.Services.CategoryServices.GetCategoryiesMenu
@model List<GetCategoryMenuDto>*@

@model List<Category>


<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
  <div class="container-fluid">
    <a asp-action="Index" asp-controller="Home" class="navbar-brand" >Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">



        @foreach (var item in Model.Where(c => c.ParentCategoryId == null))
        {
            <li class="nav-item dropdown">
              <button class="nav-link dropdown-toggle btn btn-outline-light " role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @item.Name
              </button>
              <ul class="dropdown-menu">
                @foreach (var item2 in item.SubCategories)
                {
                    <li><a asp-action="Index" asp-controller="News" asp-route-CategoryId="@item2.Id" class="dropdown-item">@item2.Name</a></li>
                    
                }
                
              </ul>
            </li>
        }


      </ul>


      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>


    </div>
  </div>
</nav>